html, body {
  padding: 0;
  margin: 0;
  color: #2D2A32;
  font-family: 'Lato';
}

.wrapper {
  /*max-width: 1200px;*/
  margin: 0 auto;
}

#description {
  /*background: #eee;*/
  text-align: center;
  padding: 5em 0;
  margin-bottom: 3em;
}

#description > p {
  font-size: 1.1em;
}

#description > h1 {
  letter-spacing: .3em;
  color: #CDEDFD;
  font-weight: 600;
  font-size: 4.7em;
  text-transform: uppercase;
  margin: 1.4rem;
}


.footer {
  font-weight: 600;
  margin-top: 3em;
  text-align: center;
  padding: 1.5em 0;
  font-size: 1.1em;
  /*background: #CDEDFD;*/
}

.footer > p {
  color: #2D2A32;
}

.footer > p > a {
  color: #2D2A32;
  text-decoration: none;
}

.footer > p > a:hover {
  color: #CDEDFD;
  text-decoration: none;
}


.icons {
  display: flex;
  flex-wrap: wrap;
}

.icon-wrapper {
  text-align: center;
  flex: 33%;
  min-width: 400px;
  padding: 3em 0;

}

.icon-wrapper > h2 {
  text-transform: uppercase;
  font-weight: normal;
  color: #2D2A32;
  margin-bottom: 1.3em;
}

.icon {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  text-align: left;
}

#smash-logo {
  border-radius: 50%;
  background: #2D2A32;
}


#smash-logo:before {
  content: "";
  display: block;
  width: 23.77%;
  height: 100%;
  background: white;
  margin-left: 18.39%;

}

#smash-logo:after {
  display: block;
  content: "";
  background: white;
  width: 100%;
  height: 9.648%;
  margin-top: -45.04%;
}

#shine {
  margin-top: -29.5px;
  margin-bottom: -59px;
}
#shine > .hex {
  margin-top: 129px !important;
  margin: 0 auto;
}

.hex {
  margin-top: 70px;
  width: 208px;
  height: 120px;
  background: #7ba9ff;
  position: relative;
}

.hex:before, .hex:after {
  content:"";
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
  position: absolute;
}

.hex:before {
  top: -59px;
  border-bottom: 60px solid #7ba9ff;
}

.hex:after {
  bottom: -59px;
  border-top: 60px solid #7ba9ff;
}

.hex.inner {
  background-color:#aae7ff;
  -webkit-transform: scale(.91, .91);
  -moz-transform: scale(.91, .91);
  transform: scale(.91, .91);
  z-index:1;
}
.hex.inner:before {
  border-bottom: 60px solid #aae7ff;
}

.hex.inner:after {
  border-top: 60px solid #aae7ff;
}

.hex.inner2 {
  background-color: #7ba9ff;
  -webkit-transform: scale(.62, .62);
  -moz-transform: scale(.62, .62);
  transform: scale(.62, .62);
  z-index:2;
}

.hex.inner2:before {
  border-bottom: 60px solid  #7ba9ff;
}

.hex.inner2:after {
  border-top: 60px solid  #7ba9ff;
}

.hex.inner3 {
  background-color:white;
  -webkit-transform: scale(.82, .82);
  -moz-transform: scale(.82, .82);
  transform: scale(.82, .82);
  z-index:3;
}

.hex.inner3:before {
  border-bottom: 60px solid white;
}

.hex.inner3:after {
  border-top: 60px solid white;
}

#pokemon-ball {
  background: #858789;
  border-radius: 50%;
}

#pokemon-ball:before {
  content:"";
  display: block;
  background: white;
  border-radius: 50%;
  height: 100%;
   -webkit-transform: scale(.467032967, .467032967);
  -moz-transform: scale(.467032967, .467032967);
  transform: scale(.467032967, .467032967);
}

#pokemon-ball:after {
  position: relative;
  content:"";
  display: block;
  background: #858789;
  top: -113.1868132%;
  border-radius: 50%;
  height: 100%;
   -webkit-transform: scale(0.296703297, 0.296703297);
  -moz-transform: scale(0.296703297, 0.296703297);
  transform: scale(0.296703297, 0.296703297);
}

#pokemon-ball > div {
  position: relative;
  background: white;
  top: -57%;
  height: 13.1868132%;
}